@use "sass:color";

$primary-color: #C08D4E;
$secondary-color: #9B8363;

$info-color: #4A90E2;
$danger-color: #C94C4C;
$success-color: #6BA368;
$warning-color: #E0A458;

$link-color: #3ea2d1;

$light-color: #F5F5F5;
$dark-color: #333333;
$gray-color: #888888;
$white-color: #FFFFFF;
$black-color: #000000;

$hint-color: $gray-color;

$google-color: #DB4437;
$facebook-color: #4267B2;   
$twitter-color: #1DA1F2;

$progress-bg-color: #eee;
$border-color: $gray-color;
$border-btm-color: #eee;

$background-color: $light-color;
$text-color: $dark-color;

$bg-primary-color: color.adjust($primary-color, $lightness: 20%);
$bg-secondary-color: color.adjust($primary-color, $lightness: 25%);


