@use "../config/colors" as colors;
@use "../utilities/spacing" as spacing;
@use "../base/fonts" as fonts;
@use "sass:color";

.c-btn{
    text-align: center;
    display: inline-block !important;
    padding: spacing.spacing(sm) spacing.spacing(lg);
    border: none;
    outline: none;
    border-radius: spacing.spacing(xs);
    color: colors.$dark-color !important;
    background-color: colors.$white-color;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover{
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.2);
    }
    &:active{
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.3);
    }
    &:focus{
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.4);
    }

    &--primary,
    &--info,
    &--danger,
    &--success,
    &--warning{
        color: colors.$white-color !important;
    }
}

.c-btn--primary{
    background-color: colors.$primary-color;
}
.c-btn--info{
    background-color: colors.$info-color;
}
.c-btn--danger{
    background-color: colors.$danger-color;
}
.c-btn--success{
    background-color: colors.$success-color;
}
.c-btn--warning{
    background-color: colors.$warning-color;
}
.c-btn--sm{
    font-size: fonts.fonts(sm);
    padding: spacing.spacing(xs) auto;
}
.c-btn--lg{
    font-size: fonts.fonts(lg);
    padding: spacing.spacing(base) spacing.spacing(xl);
}
.c-btn--ghost{
    background: transparent;
}