@use "../../config/colors" as colors;
@use "../../utilities/spacing" as spacing;
@use "../../base/fonts" as fonts;
@use "sass:color";
$navbar-height: 80px;

.c-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 spacing.spacing(xl);
    min-height: $navbar-height;
    z-index: 1000;

    &::before {
        background-color: colors.$bg-primary-color;
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.4s ease;
        z-index: -1;
    }

    &.is-scrolled::before {
        opacity: 1;
        transform: translateY(0);
    }

    &__links,
    &__logo {
        a {
            color: colors.$white-color;
        }
    }

    &__logo {
        font-size: fonts.fonts(xl);
        font-weight: bold;
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        gap: spacing.spacing(base);
        margin: 0 auto;

        a {
            display: flex;
            align-items: center;
            padding: spacing.spacing(sm);
            border-bottom: 3px solid transparent;
            transition: all 0.3s ease;

            &:hover {
                border-bottom: 3px solid colors.$primary-color;
            }
        }
        a.active{
            border-bottom: 3px solid colors.$primary-color;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: spacing.spacing(base);
    }
}