@use "../../config/colors" as colors;
@use "../../utilities/spacing" as spacing;
@use "../../base/fonts" as fonts;
@use "sass:color";

.c-btn{
    text-align: center;
    display: inline-block;
    padding: spacing.spacing(sm) spacing.spacing(lg);
    border: none;
    outline: none;
    border-radius: spacing.spacing(xs);
    color: colors.$dark-color ;
    background-color: colors.$white-color;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover{
        transform: translateY(-3px);
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.2);
    }
    &:active{
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.3);
    }
    &:focus{
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.4);
    }
    &--icon--google,
    &--icon--facebook,
    &--icon--twitter,
    &--primary,
    &--secondary,
    &--info,
    &--danger,
    &--success,
    &--warning,
    &--ghost{
        color: colors.$white-color;
    }
}

.c-btn--secondary{
    background-color: colors.$secondary-color;
}

.c-btn--primary{
    background-color: colors.$primary-color;
}
.c-btn--info{
    background-color: colors.$info-color;
}
.c-btn--danger{
    background-color: colors.$danger-color;
}
.c-btn--success{
    background-color: colors.$success-color;
}
.c-btn--warning{
    background-color: colors.$warning-color;
}
.c-btn--sm{
    font-size: fonts.fonts(sm);
    padding: spacing.spacing(xs) auto;
}
.c-btn--lg{
    font-size: fonts.fonts(lg);
    padding: spacing.spacing(base) spacing.spacing(xl);
}
.c-btn--ghost{
    background: transparent;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);

    &:hover{
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.7);
    }
    &:active{
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
    }
    &:focus{
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.9);
    }
}

.c-btn--icon--google{ background-color:colors.$google-color ;}
.c-btn--icon--facebook{ background-color: colors.$facebook-color;}
.c-btn--icon--twitter{ background-color: colors.$twitter-color;}

.c-btn__toggle-password{
    position: absolute;
    left: 12px;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: colors.$dark-color;
    transition: all 0.3s ease;
}
.c-input:focus + .c-label + .c-btn__toggle-password{
    color: colors.$primary-color;
}
.c-input:not(:placeholder-shown) + .c-label + .c-btn__toggle-password {
    color: colors.$primary-color;
}