@use "../../utilities/spacing" as spacing;

.c-form__group{
    display: flex;
    flex-direction: column;
    gap: spacing.spacing(sm);
    
}
.c-form__groups{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}