@use "../../utilities/spacing" as spacing;
@use "../../config/colors" as colors;
@use "../../base/fonts" as fonts;

.c-input{
    width: 100%;
    padding: spacing.spacing(sm) spacing.spacing(base) ;
    border: 1px solid colors.$border-color;
    border-radius: spacing.spacing(xs);
    transition: all 0.3s ease;
    &:focus {
        outline: none;
        border-color: colors.$primary-color;
    }
    &:-webkit-autofill{
        box-shadow: 0 0 0px 1000px colors.$white-color inset;
        -webkit-text-fill-color: colors.$dark-color;
    }
}
