@use "./fonts" as fonts;
@use "../config/variables" as vars;
@use "../config/colors" as colors;
@use "../utilities/spacing" as spacing;

html{
    direction: rtl !important;
}

i{
    margin-left: spacing.spacing(xs);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: fonts.$font-family !important;
    font-size: vars.$font-base !important;
    color: colors.$text-color !important;
    background-color: colors.$background-color !important;
    line-height: vars.$line-height !important;
}