{{#> components-container title="register"}}
<form action="#" method="post" class="c-form c-form--register">
    <h2 class="c-form__title">تسجيل جديد</h2>
    <div class="c-form__group">
        <input type="text" class="c-input" name="username" id="username" placeholder="  " required>
        <label for="username" class="c-label"> اسم المستخدم</label>
    </div>
    <div class="c-form__group">
        <input type="email" class="c-input" name="email" id="email" placeholder="  " required>
        <label for="email" class="c-label"> البريد الإلكتروني</label>

    </div>
    <div class="c-form__group c-form__group--password">
        <input type="password" class="c-input c-input--password" name="password" id="password" placeholder="  "
            required>
        <label for="password" class="c-label"> كلمة السر</label>
        <button type="button" class="c-btn__toggle-password" aria-label="إظهار كلمة السر"><i
                class="fa-regular fa-eye"></i></button>
    </div>
    <div class="c-form__group c-form__group--password">
        <input type="password" class="c-input c-input--password" name="confirm-password" id="confirmPassword"
            placeholder="  " required>
        <label for="confirmPassword" class="c-label"> تأكيد كلمة السر</label>
        <button type="button" class="c-btn__toggle-password" aria-label="إظهار كلمة السر"><i
                class="fa-regular fa-eye"></i></button>
    </div>
    <div class="c-form__group">
        <label class="c-form__checkbox">
            <input type="checkbox" name="terms-of-use" id="termsOfUse">
            <span class="c-form__checkmark"></span> 
            <p class="c-form__desc">لقد قرأت ووافقت على <a href="terms-of-use.html" target="_blank" class="c-form__link">الشروط والأحكام</a></p>
        </label>
        <label class="c-form__checkbox">
            <input type="checkbox" name="privacy-policy" id="privacyPolicy">
            <span class="c-form__checkmark"></span> 
            <p class="c-form__desc">لقد قرأت ووافقت على <a href="privacy-policy.html" target="_blank" class="c-form__link">سياسة الخصوصية</a></p>
        </label>
    </div>
    <p class="c-form__error" id="registerError"></p>
    <button type="submit" class="c-btn c-btn--primary">تسجيل جديد</button>
    <p class="c-form__help c-form__help--border-bottom">
        لديك حساب بالفعل؟ <a href="login.html" class="c-form__link">سجل الدخول</a>
    </p>
    <p class="c-form__help">أو سجل الدخول باستخدام</p>
    <div class="c-form__socials">
        <a href="#" class="c-btn c-btn--icon--google" aria-label="Google">
            <i class="fa-brands fa-google"></i>
        </a>
        <a href="#" class="c-btn c-btn--icon--facebook" aria-label="Facebook">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="#" class="c-btn c-btn--icon--twitter" aria-label="Twitter">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </div>
</form>

{{/components-container}}