{{#> components-container title="reset-password"}}
<form action="#" method="post" class="c-form c-form--reset-password">
    <h2 class="c-form__title">نسيت كلمة السر </h2>
    <p class="c-form__help">أدخل بريدك الإلكتروني وسنرسل لك رابط إعادة تعيين كلمة السر.</p>
    <div class="c-form__group">
        <input type="email" class="c-input" name="email" id="email" placeholder="  " required>
        <label for="email" class="c-label--floating"> البريد الإلكتروني</label>
    </div>
    <p class="c-form__error" id="resetPasswordEmailError"></p>
    <button type="submit" class="c-btn c-btn--primary">إرسال رابط إعادة التعيين</button>
     <p class="c-form__help">
        تذكرت كلمة السر؟
        <a href="login-form.html">تسجيل الدخول</a>
    </p>
</form>

{{/components-container}}