{{#> components-container title="Footer Navigation"}}
<footer class="c-footer">
  <div class="c-footer__top">
    <div class="c-footer__sections">
      <div class="c-footer__section c-footer__section--about">
        <h3 class="c-footer__title">صالون البيوتي قلامور</h3>
        <p class="c-footer__desc">
          صالون البيوتي قلامور هو وجهتك المثالية للجمال والعناية الشخصية في
          المدينة المنورة نقدم مجموعة واسعة من الخدمات التجميلية بأعلى جودة
          وبأسعار تنافسية
        </p>
      </div>
      <div class="c-footer__section c-footer__section--subscribe">
        <h3 class="c-footer__title">اشتركي في نشرتنا الإخبارية</h3>
        <form class="c-footer__form">
          <input
            type="email"
            class="c-footer__input"
            placeholder="أدخلي بريدك الإلكتروني هنا .."
            required
          />
          <button type="submit" class="c-btn c-btn--primary">اشتراك</button>
        </form>
      </div>
    </div>
    <div class="c-footer__section c-footer__section--quick-links">
      <h3 class="c-footer__title">روابط سريعة</h3>
      <ul class="c-footer__list c-footer__list--quick-links">
        <li><a href="#hero">الرئيسية</a></li>
        <li><a href="#services">الخدمات</a></li>
        <li><a href="#faq">الأسئلة </a></li>
        <li><a href="#blog">المدونة </a></li>
        <li><a href="#contact">اتصل بنا</a></li>
      </ul>
    </div>
    <div class="c-footer__sections">
      <div class="c-footer__section c-footer__section--working-hours">
        <h3 class="c-footer__title">أوقات العمل</h3>
        <p class="c-footer__desc">
          يومياً (7 أيام في الأسبوع): من الساعة 4:00م - 11:30م
        </p>
      </div>
      <div class="c-footer__section c-footer__section--contact">
        <h3 class="c-footer__title">اتصل بنا</h3>
        <p class="c-footer__mobile">رقم التواصل: 966545594417+</p>
        <p class="c-footer__email">
          البريد الإلكتروني:
          <a href="mailto:isra.almogheer@gmail.com">isra.almogheer@gmail.com</a>
        </p>
        <ul class="c-footer__list c-footer__list--social">
          <li>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-tiktok"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="c-footer__section c-footer__section--location">
      <h3 class="c-footer__title">موقعنا</h3>
      <p class="c-footer__desc">
        مجمع الأثير بلازا ،حي سلطانة، المدينة المنورة، المملكة العربية السعودية
      </p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3630.890623834884!2d39.582868999999995!3d24.489246299999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15bdbf0eed55775b%3A0x63ec9445c18dab0b!2z2LXYp9mE2YjZhiDYp9mE2KjZitmI2KrZiiDZgtmE2KfZhdmI2LE!5e0!3m2!1sar!2ssa!4v1777388852805!5m2!1sar!2ssa"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <div class="c-footer__bottom">
    <p class="c-footer__copyright">
      جميع الحقوق محفوظة لدى صالون البيوتي قلامور &copy; 2026
    </p>
    <div class="c-footer__links">
      <a href="/privacy-policy.html">سياسة الخصوصية</a>
      <a href="/terms-of-use.html">شروط الاستخدام</a>
    </div>
  </div>
</footer>
{{/components-container}}
