{{#> components-container title='Modal'}}
<button class="c-btn js-open-modal" data-modal="modal">فتح المودال</button>
<div class="c-modal" id="modal">
    <div class="c-modal__overlay"></div>
    <div class="c-modal__content">
        <div class="c-modal__header">
            <h2 class="c-modal__title">تسجيل جديد</h2>
            <button type="button" class="c-modal__btn c-modal__btn--close js-close-modal"><i class="fa-regular fa-circle-xmark"></i></button>
        </div>
        <div class="c-modal__body">
            <p class="c-modal__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum dolores repudiandae doloremque in aspernatur commodi consequatur quo fuga. Cumque ipsam vitae, sapiente facere doloremque ad consequatur optio quibusdam inventore?</p>
        </div>
        <div class="c-modal__actions">
            <button type="button" href="index.html" class="c-btn c-btn--secondary js-close-modal">إغلاق </button>
            <a href="login.html" class="c-btn c-btn--primary ">تسجيل الدخول</i></a>
        </div>
    </div>
</div>
{{/components-container}}