{{#> components-container title='Hero'}}

<section class="c-hero" id="hero">
  <h1 class="c-hero__title">
    استعيدي جمال شعرك <br /><span>خلال جلسة واحدة</span>
  </h1>
  <p class="c-hero__desc">
    في صالون قلامور نستخدم أجود أنواع البروتين لحماية شعرك من التلف تحت أيادي
    مختصة ذو خبرة طويلة
  </p>
  <div class="c-hero__actions">
    <a href="/login.html" class="c-btn c-btn--lg c-btn--primary">
      <i class="fa-solid fa-calendar-days"></i>
      احجزي الأن
    </a>
    <a href="#services" class="c-btn c-btn--lg c-btn--ghost">
      <i class="fa-solid fa-hand-pointer"></i>
      شاهدي خدماتنا
    </a>
  </div>
  <ul class="c-hero__list">
    <li>
      <i class="fa-solid fa-house"></i>
      توفر الخدمة المنزلية
    </li>
    <li>
      <i class="fa-solid fa-user-tie"></i>
      أخصائيات شعر ذو خبرة
    </li>
    <li>
      <i class="fa-solid fa-headset"></i>
      خدمات ما بعد البيع
    </li>
  </ul>
</section>

{{/components-container}}
