{{#> components-container title="Navbar"}}
<nav class="c-navbar">
    <div class="c-navbar__logo">
        <a href="#hero">Glamourea</a>
    </div>
    <ul class="c-navbar__links">
        <li><a href="#hero">الرئيسية</a></li>
        <li><a href="#services">الخدمات</a></li>
        <li><a href="#about">من نحن</a></li>
        <li><a href="#faq">الأسئلة </a></li>
        <li><a href="#blog">المدونة </a></li>
        <li><a href="#contact">اتصل بنا</a></li>
    </ul>
    <div class="c-navbar__actions">
        <a href="/login.html" class="c-btn c-btn--info">تسجيل الدخول</a>
        <a href="/register.html" class="c-btn c-btn--primary"> احجزي الأن</a>
    </div>
</nav>
{{/components-container}}