@use "../../../utilities/spacing" as spacing;
@use "../../../config/colors" as colors;
@use "../../../base/fonts" as fonts;

.c-form--create-booking {
    display: flex;
    flex-direction: column;
    gap: spacing.spacing(xl);
    max-width: 900px;
}

.c-step {
    display: none;
}

.c-step__title {
    h2 {
        margin-bottom: 0;
    }

    margin-bottom: spacing.spacing(base);
    color: colors.$primary-color;

}

.c-step--active {
    display: block;
}

.c-actions {
    display: flex;
    justify-content: space-between;
}