@use "../../../utilities/spacing" as spacing;
@use "../../../config/colors" as colors;
@use "../../../base/fonts" as fonts;

.c-form--create-booking {
    display: flex;
    flex-direction: column;
    gap: spacing.spacing(xl);
    max-width: 900px;
}