@use "../../utilities/spacing" as spacing;
@use "../../utilities/mixin" as mixin;
@use "../../config/colors" as colors;

.c-form {
    @include mixin.e-form;
    width: 100%;
    height: auto;

    &__error {
        display: none;
        color: colors.$danger-color;
    }

    &__success {
        color: colors.$success-color;
    }

    &:last-child {
        margin-bottom: 0;

        p {
            margin-bottom: 0;
        }
    }
}

.c-form__help {
    &--border-bottom {
        border-bottom: 1px solid colors.$border-btm-color;
        padding-bottom: spacing.spacing(base);
    }
}

.c-form__socials {
    display: flex;
    gap: spacing.spacing(base);
    justify-content: center;
    flex-wrap: wrap;
}
