@use "../../utilities/spacing" as spacing;
@use "../../config/colors" as colors;
@use "../../base/fonts" as fonts;
.c-label{
    
}

.c-label--floating {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: colors.$white-color;
    padding: 0 spacing.spacing(sm);
    cursor: text;
    right: 1rem;
    transition: all 0.3s ease;
}

.c-input:focus+.c-label--floating {
    color: colors.$primary-color;
    top: 0;
    font-size: fonts.fonts(xsm);
}

.c-input:not(:placeholder-shown)+.c-label--floating {
    color: colors.$primary-color;
    top: 0;
    font-size: fonts.fonts(xsm);
}