@use "../../utilities/spacing" as spacing;
@use "../../config/colors" as colors;
@use "../../base/fonts" as fonts;
$progress-bg-height: spacing.spacing(base);

.c-progress-wrapper {
    display: flex;
    flex-direction: column;
    gap: spacing.spacing(sm);
    width: 100%;
}

.c-progress {
    width: 100%;
    height: $progress-bg-height;
    background-color: colors.$progress-bg-color;
    overflow: hidden;
    border-radius: 16px;
}

.c-progress__bar {
    width: 20%;
    height: 100%;
    background: linear-gradient(90deg, colors.$primary-color 0%, colors.$secondary-color 100%);
    transition: all 0.3s ease;
}

.c-progress-steps__items {
    display: flex;
    justify-content: space-between;
    margin-top: spacing.spacing(lg);
    position: relative;
}

.c-progress-steps__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: relative;
    z-index: 2;
}


.c-progress-steps__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: colors.$progress-bg-color;
    transition: all 0.3s ease;
}

.c-progress-steps__label {
    margin-top: spacing.spacing(sm);
}

.is-active .c-progress-steps__number {
    background: colors.$primary-color;
    color: colors.$white-color;
}

.is-active .c-progress-steps__label {
    color: colors.$primary-color;
}

.is-completed .c-progress-steps__number {
    background: colors.$success-color;
    color: colors.$white-color;
}

.is-completed .c-progress-steps__label {
    color: colors.$success-color;
}

.c-step {
    display: none;
}

.c-step--active {
    display: block;
}

.c-actions {
    display: flex;
    justify-content: space-between;
}