@use "../../utilities/spacing" as spacing;
@use "../../config/colors" as colors;
@use "../../base/fonts" as fonts;

.c-selects {
    width: 100%;
}

.c-select {
    position: relative;
    width: 100%;
}

.c-select__trigger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: spacing.spacing(sm) spacing.spacing(base);
    border: 1px solid colors.$border-color;
    border-radius: spacing.spacing(xs);
    background-color: colors.$white-color;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
        border-color: colors.$primary-color;
    }
}

.c-select__menu {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: colors.$white-color;
    border: 1px solid colors.$border-color;
    border-radius: spacing.spacing(xs);
    overflow: hidden;
    z-index: 10;
    padding-left: 0;
}

.c-select__menu.is-open {
    display: flex;
}

.c-select__option {
    padding: spacing.spacing(sm) spacing.spacing(base);
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 1px solid colors.$border-btm-color;
    &:last-child{
        border-bottom: none;
    }
}

.c-select__option:hover {
    background-color: rgba(colors.$primary-color, 0.03);
}

.c-select__input {
    display: none;
}