{{#> components-container title="checkbox"}}

<div class="c-checkboxes">
  <span class="c-checkbox__title">عنوان التشيك بوكس</span>
  
  <div class="c-checkbox__group">
    <label class="c-checkbox">
      <input type="checkbox" name="termsOfUse" class="c-checkbox__input" />

      <span class="c-checkbox__checkmark"></span>

      <span class="c-checkbox__label">
        لقد قرأت ووافقت على

        <a href="terms-of-use.html" target="_blank" class="c-checkbox__link">
          الشروط والأحكام
        </a>
      </span>
    </label>

    <!-- CHECKBOX -->
    <label class="c-checkbox">
      <input type="checkbox" name="privacyPolicy" class="c-checkbox__input" />

      <span class="c-checkbox__checkmark"></span>

      <span class="c-checkbox__label">
        لقد قرأت ووافقت على

        <a href="privacy-policy.html" target="_blank" class="c-checkbox__link">
          سياسة الخصوصية
        </a>
      </span>
    </label>
  </div>
</div>

{{/components-container}}
