{{#> components-container title='grid'}}

<div class="c-grid c-grid--5">
    <div class="e-box">1</div>
    <div class="e-box">2</div>
    <div class="e-box">3</div>
    <div class="e-box">4</div>
    <div class="e-box">5</div>
</div>
<div class="c-grid c-grid--4">
    <div class="e-box">1</div>
    <div class="e-box">2</div>
    <div class="e-box">3</div>
    <div class="e-box">4</div>
</div>

<div class="c-grid c-grid--3">
    <div class="e-box">1</div>
    <div class="e-box">2</div>
    <div class="e-box">3</div>
    <div class="e-box">4</div>
</div>

<div class="c-grid c-grid--2">
    <div class="e-box">1</div>
    <div class="e-box">2</div>
    <div class="e-box">3</div>
    <div class="e-box">4</div>
</div>

<div class="c-grid c-grid--1">
    <div class="e-box">1</div>
    <div class="e-box">2</div>
    <div class="e-box">3</div>
    <div class="e-box">4</div>
</div>

<div class="c-grid c-grid--auto-sm">
    <div class="e-box">1</div>
    <div class="e-box">2</div>
    <div class="e-box">3</div>
    <div class="e-box">4</div>
</div>

<div class="c-grid c-grid--auto-md">
    <div class="e-box">1</div>
    <div class="e-box">2</div>
    <div class="e-box">3</div>
    <div class="e-box">4</div>
</div>

<div class="c-grid c-grid--auto-lg">
    <div class="e-box">1</div>
    <div class="e-box">2</div>
    <div class="e-box">3</div>
    <div class="e-box">4</div>
</div>

<div class="c-grid c-grid--gap-sm">
    <div class="e-box">1</div>
    <div class="e-box">2</div>
    <div class="e-box">3</div>
    <div class="e-box">4</div>
</div>

<div class="c-grid c-grid--gap-md">
    <div class="e-box">1</div>
    <div class="e-box">2</div>
    <div class="e-box">3</div>
    <div class="e-box">4</div>
</div>

<div class="c-grid c-grid--gap-lg">
    <div class="e-box">1</div>
    <div class="e-box">2</div>
    <div class="e-box">3</div>
    <div class="e-box">4</div>
</div>

{{/components-container}}