{{#> components-container title="progress"}}

<div class="c-progress-wrapper">
  <!-- BAR -->
  <div class="c-progress">
    <div class="c-progress__bar"></div>
  </div>

  <!-- STEPS -->
  <div class="c-progress-steps__items">
    <div class="c-progress-steps__item is-active">
      <div class="c-progress-steps__number">20%</div>
      <span class="c-progress-steps__label">البيانات</span>
    </div>

    <div class="c-progress-steps__item">
      <div class="c-progress-steps__number">40%</div>
      <span class="c-progress-steps__label">الحجز</span>
    </div>

    <div class="c-progress-steps__item">
      <div class="c-progress-steps__number">60%</div>
      <span class="c-progress-steps__label">الشعر</span>
    </div>

    <div class="c-progress-steps__item">
      <div class="c-progress-steps__number">80%</div>
      <span class="c-progress-steps__label">الدفع</span>
    </div>

    <div class="c-progress-steps__item">
      <div class="c-progress-steps__number">100%</div>
      <span class="c-progress-steps__label">التأكيد</span>
    </div>
  </div>
</div>

{{/components-container}}
