{{#> components-container title="radio"}}

<div class="c-radios">
    <span class="c-radio__title">عنوان الراديو</span>
    <div class="c-radio__group">
        <label class="c-radio">
            <input type="radio" name="choose" value="one" class="c-radio__input">
            <span class="c-radio__checkmark"></span>
            <span class="c-radio__label">اختيار واحد</span>
        </label>
        <label class="c-radio">
            <input type="radio" name="choose" value="two" class="c-radio__input">
            <span class="c-radio__checkmark"></span>
            <span class="c-radio__label">اختيار اثنين</span>
        </label>
    </div>
</div>

{{/components-container}}